/*TAGS*/

* {
    margin: 0;
    padding: 0;
}

.logo-simples {
    width: 75px;
}

.site-em-construcao {
    width: 1000px;
}





/*VARIÁVEIS*/

:root {
    --laranja: #F89E1A;
}





/*CONTAINER*/

.container {
    width: 90%;
    height: 100%;
    margin: auto;
}