/*CABEÇALHO*/

.menu-toggle {
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-toggle div {
    background-color: white;
    width: 100%;
    height: 5px;
    transition-duration: 0.3s;
}

.menu-section .navegacao {
    display: none;
}

/*MENU ABERTO*/

.menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/Fundos/Black-Abstract-4K.jpg);
    width: 100vw;
    height: 65vh;
    z-index: 10;
}

.menu-section.on .meio {
    opacity: 0;
}

.menu-section.on .cima {
    transform: rotate(45deg) translate(7px, 7px);
}

.menu-section.on .baixo {
    transform: rotate(-45deg) translate(11px, -10px);
}

.menu-section.on .menu-toggle {
    margin: 35px;
}

.menu-section.on nav ul.navegacao {
    margin-top: 100px;
    width: 85%;
    height: auto;
    margin: auto;
    display: block;
    display: flex;
    font-size: 30px;
    text-transform: uppercase;
    flex-direction: column;
    text-align: center;
}

.menu-section.on nav ul.navegacao li {
    padding: 10px;
}

/**/

header {
    width: 100%;
    height: 90px;
    background: url(../images/Fundos/Black-Abstract-4K.jpg);
}

.cabecalho {
    display: flex;
    align-items: center;
}