* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'dinnerxt';
    src: url('../Fontes/DINNEXT.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'dinnerxt';
}

/* INÍCIO DO CABEÇALHO (HEADER) */
header {
    width: 100%;
    margin: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header > img {
    margin: 5px;
    width: 70px;
}

nav#cabecalho > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 40px;
}

nav#cabecalho > a:hover {
    color: #F89E1A;
    text-shadow: 0px 0px 10px #F89E1A;
}

#divisoria {
    height: 5px;
    background-color: #F89E1A;
}

/* INÍCIO DO PRINCIPAL (MAIN)*/

/* main > img#imagem-main {
    width: 100%;
    margin: auto;
}*/

.imagem {
    width: 100%;
    margin: auto;
    height: 85vh;
    background: url(../images/Carrossel-início/Contato-1200.jpg); /* imagem de fundo*/
    background-repeat: no-repeat; /*quando a imagem acaba, não repete com um pedaço*/
    background-size: cover; /*preenche todos os espaços da página*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 2.5em;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.644);
}

@media (min-width 400px) {
    h1 {
        font-size: 1em;
    }
    nav#cabecalho > a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin: 20px;
        font-size: .5em;
    }
}
