.excluir-esta-classe-pois-e-so-um-teste {
    height: 290px;
}

/* CABEÇALHO */

header.cabecalho {
    background: url(../images/Fundos/Black-Abstract-4K.jpg);
    height: 75px;
    width: 100%;
    border-bottom: var(--borda-laranja);
}

.cabecalho .navegacao {
    display: flex;
}

.navegacao li a {
    padding: 40px;
    color: white;
    transition-duration: 0.25s;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}





/*RODAPÉ*/

.rodape {
    background: url(../images/Fundos/Black-Abstract-4K.jpg);
    width: 100%;
    height: 285px;
    border-top: var(--borda-laranja);
    display: flex;
}

.rodape .navegacao li a {
    padding: 0;
}

.rodape .navegacao li {
    padding: 8px 0;
}

.rodape .navegacao {
    width: 15%;
}

.redes-etc {
    height: 120px;
    width: 70%;
    margin: 40px auto;
}

.rodape .redes-sociais {
    justify-content: center;
}

.direito-autoral {
    text-align: center;
    margin-top: 70px;
    margin-left: 20px;
    color: white;
    text-transform: uppercase;
}

.volte-topo {
    margin-top: 45px;
    width: 15%;
    text-align: center;
    display: flex;
    font-size: 12px;
}

.fa-caret-up {
    color: var(--laranja);
    margin: 5px 10px;
    display: inline-block;
}